.card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    height: 350px;
}

.card-image {
    width: 30%; /* Fixed width for image */
    height: 60%; /* Full height */
    aspect-ratio: 16/9;
    object-fit: cover; /* Ensure the image covers the area */
}

.card-content {
    padding: 16px;
    flex: 1;
}

.card-title {
    margin: 0 0 8px 0;
    font-size: 24px;
}

.card-text {
    margin: 0 0 16px 0;
    color: #0c0202;
}

.card-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.card-link:hover {
    text-decoration: underline;
}strong{
    color: black;
}
summary hover{
    color: royalblue;

}